<div class="container-fluid">
	<div class="row">
		<div class="col-lg-7">
			<div ui-calendar="ctrl.calendar" ng-model="ctrl.events"></div>
		</div>
		<div class="col-lg-5">
			<h2>
				{{ctrl.appointment.start | amDateFormat: 'h:mm a'}}
				-
				{{ctrl.appointment.end | amDateFormat: 'h:mm a'}}
			<form>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Email">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group">
					<label for="name">Nombre</label>
					<input type="text" class="form-control" id="name" aria-describedby="text" placeholder="Nombre">
				</div>
				<div class="form-group">
					<label>Obra Social</label>
					<ui-select ng-model="ctrl.appointment.insurance.name" theme="bootstrap">
						<ui-select-match placeholder="Select or search a study in the list...">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="insurance in ctrl.insurances | filter: $select.search">
							<div ng-bind-html="insurance.name | highlight: $select.search"></div>
							<!-- <small ng-bind-html="insurance.code | highlight: $select.search"></small> -->
						</ui-select-choices>
					</ui-select>
				</div>

				<div class="form-group">
					<label>Estudio</label>
					<ui-select ng-model="ctrl.appointment.study.name" theme="bootstrap">
						<ui-select-match placeholder="Select or search a study in the list...">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="study in ctrl.studies | filter: $select.search">
							<div ng-bind-html="study.name | highlight: $select.search"></div>
							<small ng-bind-html="study.code | highlight: $select.search"></small>
						</ui-select-choices>
					</ui-select>
				</div>

				<div class="form-group">
					<label for="exampleTextarea">Example textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
