<div class="container-fluid">
	<p>Here you can add, edit or delete Doctors</p>
	<div>
		<table class="table table-inverse" st-table="ctrl.docs">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Telefono</th>
					<th>Matricula</th>
					<th>Email</th>
					<th>Borrar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="doc in ctrl.docs">
					<td>
						<!-- editable username (text with validation) onbeforesave="checkName($data, user.id)" -->
						<span editable-text="doc.name" e-name="name" e-form="rowform"> {{ doc.name || 'vacio' }} </span>
					</td>
					<td>
						<span editable-tel="doc.phone" e-name="phone" e-form="rowform"> 	{{ doc.phone || 'vacio' }} </span>
					</td>
					<td>
						<span editable-tel="doc.reg" e-name="registry" e-form="rowform"> 	{{ doc.reg || 'vacio' }} </span>
					</td>
					<td>
						<span editable-email="doc.email" e-name="email" e-form="rowform"> {{ doc.email || 'vacio' }} </span>
					</td>
					<td style="white-space: nowrap">
						<form editable-form name="rowform" onbeforesave="ctrl.save(doc)" ng-show="rowform.$visible" class="form-buttons form-inline"
										shown="ctrl.inserted == doc">
							<button type="submit" class="btn btn-primary">save</button>
							<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
								cancel
							</button>
						</form>
						<div class="buttons" ng-show="!rowform.$visible">
							<button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
							<button class="btn btn-danger" ng-click="ctrl.delete(doc)">del</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-default" ng-click="ctrl.add()">Agregar</button>
	</div>
</div>
